{% extends 'base.html' %}

{% load markdown_extras %}

{% block title %}All articles{% endblock %}

{% block content %}
    <h1 class="w-50 mx-auto py-5 h1 d-flex justify-content-center">Articles</h1>
    {% for article in article_list %}
        <div class="container-fluid w-50 p-5">
            <h2>{{ article.title }}</h2>
            <img src="{{ article.image_url }}" alt="{{ article.categories }}"
                 class="img-fluid rounded mx-auto my-5 d-block">
            <p>{{ article.synopsis | safe }}</p>
            <a href="/article/{{ article.pk }}" class="btn btn-dark my-4 p-3 shadow">Start reading</a>
            <hr>
        </div>
    {% endfor %}

{% endblock %}